@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}


.container{
  font-size: 10px;
  font-family: Roboto, sans-serif;
  display: grid;
  place-items: center;
  display: flex;
  flex-direction: column;
}

h1{
  margin-top: 20px;
}

.cta{
  font-size: 10px;
  font-family: Roboto, sans-serif;
  width: 5rem;
  padding: 1rem;
  cursor: pointer;
  background-color: rgb(23, 22, 21);
  color: white;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
}

.back{
  margin-top: 50px;
}

@media (max-width: 450px){
  .container {
    text-align: center;
}
}